// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~react-slidedown/lib/slidedown";

@import 'tasks';

@import 'projects';


// Layout app.blade
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#app {
    flex: 1 0 auto;
}

// Background image for auth pages
.login-page, .register-page, .password\.request-page {
    margin-bottom: 0px !important;
    background: url('./images/brickwall.jpg');
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
}

.pagination > .page-item > .page-link {
    &:focus {
        box-shadow: none;
    }
}

.nav-link.active {
    color: $primary !important;
    font-weight: bold;
    border-bottom: 2px solid $primary;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #333;
    flex-shrink: 0;
}