// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'tasks';


// Layout app.blade
html, body {
    height: 100%;
}

body {
    background-image: linear-gradient(180deg, #eee, #fff);
    display: flex;
    flex-direction: column;
}

#app {
    flex: 1 0 auto;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #333;
    flex-shrink: 0;
}